{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>New Project</h1>

    <div class="content-section">
        <form method="POST" action="">
            <form>
                <div class="form-group">
                    <label for="ProjectName">Project Name</label>
                    <input type="text" class="form-control" id="ProjectName" name ="ProjectName"  placeholder="Enter Project Name" required>
                </div>
                <div class="form-group">
                    <label for="ProjectDescription">Project Description</label>
                    <textarea class="form-control" id="ProjectDescription"  name ="ProjectDescription" rows="3" required></textarea>
                </div>

                  <div class="form-group" data-toggle="buttons">
                    <input id ="business" name ="business"type="checkbox" data-size="small" checked data-toggle="toggle" data-on="Business" data-off="Business"data-onstyle="success" >
                      <input id ="technology" name ="technology"type="checkbox" data-size="small" checked data-toggle="toggle" data-on="Technology" data-off="Technology"data-onstyle="success" >
                    <input id ="art" name ="art"type="checkbox" data-size="small" checked data-toggle="toggle" data-on="Art" data-off="Art"data-onstyle="success" >
                    <input id ="music" name ="music"type="checkbox" data-size="small" checked data-toggle="toggle" data-on="Music" data-off="Music"data-onstyle="success" >
                    <input id ="literature" name ="literature"type="checkbox" data-size="small" checked data-toggle="toggle" data-on="Literature" data-off="Literature"data-onstyle="success" >

                  </div>
                <div class="form-group" data-toggle="buttons">
                    <input id ="projectStatus" name ="projectStatus"type="checkbox" data-size="small" checked data-toggle="toggle" data-on="Open" data-off="Closed"data-onstyle="success" >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <small class="text-muted ml-2">
                <a href="javascript:history.back()">Cancel</a>
            </small>
        </form>
    </div>
</div>
{% endblock %}