{% extends "layout.html" %}
{% block content %}
<section class="Explore">
  <div class="container">
    <h2>Explore</h2>
    <hr>
    {% if projects.items %}
      {% for project in projects.items %}
        <article class="media content-section col-lg-4">
          <img class="rounded-circle article-img"
            src="{{ url_for('static', filename='profile_pics/' + project.author.image_file) }}"
            alt="'static', filename='profile_pics/default.jpg') ">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('profile', username=project.author.username) }}">{{ project.author.username }}</a>
              <small class="text-muted">{{ project.date_posted.strftime("%m/%d/%Y, %I:%M%p") }}</small>
            </div>
            <h4><a class="article-title" href="{{ url_for('project_detail_view', project_id=project.id) }}">{{ project.title }}</a></h4>
            <p class="article-content">{{ project.description }}</p>
          </div>
        </article>
      {% endfor %}

      {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          <a href="{{ url_for('explore', page=page_num) }}" class="btn mb-4
          {% if projects.page == page_num %}
            btn-info
          {% else %}
            btn-outline-info
          {% endif %}
          ">{{ page_num }}</a>
        {% else %}
          ...
        {% endif %}
      {% endfor %}

    {% else %}
      <span>Hmm...Seems like we can't find any other projects.</span>
    {% endif %}
  </div>
</section>
{% endblock %}
