{% extends "layout.html" %}

{% block content %}
<section class="your-projects">
    <div class="container">
        <h1>Your Projects</h1>

        <div class="row">
            <div class="col-md-4">
                <span>Project 1</span>
            </div>
            <div class="col-md-4">
                <span>Project 2</span>
            </div>
            <div class="col-md-4">
                <span>Project 3</span>
            </div>
        </div>
    </div>
</section>

<section class="explore">
    <div class="container">
        <h1>Explore</h1>

        <div class="row">
            <div class="col-md-4">
                <span>Project 1</span>
            </div>
            <div class="col-md-4">
                <span>Project 2</span>
            </div>
            <div class="col-md-4">
                <span>Project 3</span>
            </div>
            <div class="col-md-4">
                <span>Project 4</span>
            </div>
            <div class="col-md-4">
                <span>Project 5</span>
            </div>
            <div class="col-md-4">
                <span>Project 6</span>
            </div>
        </div>
    </div>
</section>
{% endblock %}