{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img mt-3" src="{{ image_file }}">
      <div class="media-body">
        <br>
        <h1 class="account-heading"><b>{{ user.username }}</b></h1>
        <div class="row justify-content-end pr-3">
          <div class="col">
            <p class="text-secondary">{{ user.email }}</p>
          </div>
          <div class="col-auto"></div>
          <div class="col-auto-2">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div>
      <span class="badge badge-dark">SKILLS:</span>
          {% if user.business == True%}
          <span class="badge badge-primary">Business</span>
          {% endif %}
          {% if user.literature == True%}
          <span class="badge badge-info">Literature</span>
          {% endif %}
          {% if user.technology == True%}
          <span class="badge badge-success">Technology</span>
          {% endif %}
          {% if user.art == True%}
          <span class="badge badge-warning">Art</span>
          {% endif %}
          {% if user.music == True%}
          <span class="badge badge-danger">Music</span>
          {% endif %}
      <br><br>
      <span class="badge">Description:</span>
      <textarea class="form-control" readonly>
                {% if user.description %}
                  {{ user.description }}
                {% endif %}
              </textarea>
    </div>
    <br><h2><b>Personal Projects</b></h2>
    <div class="col-auto-3">
      <br>
      <br>
    </div>
      {% for item in personal_projects %}
      <div class="card">
        <h5 class="card-header">{{item.title}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.content}}</p>


          <div class="col-auto-3">
            <nobr>
              <div class="btn-group" style="width:100%">
              <form action="{{url_for('project_detail_view')}}" method="POST">

                <input type="hidden" value={{item.id}} name="projectId"/>
                <input type="submit"  name ="submit_button" value="View" class="btn btn-outline-success  btn-sm"/>
              </form>
              </div>
            </nobr>
          </div>     <br>
          <span class="badge badge-dark">Looking For:</span>
          {% if item.business == True%}
          <span class="badge badge-primary">Business</span>
          {% endif %}
          {% if item.literature == True%}
          <span class="badge badge-info">Literature</span>
          {% endif %}
          {% if item.technology == True%}
          <span class="badge badge-success">Technology</span>
          {% endif %}
          {% if item.art == True%}
          <span class="badge badge-warning">Art</span>
          {% endif %}
          {% if item.music == True%}
          <span class="badge badge-danger">Music</span>
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      {% endfor %}
    <br>
       <br><h2><b>Collaboration Projects</b></h2>
    <div class="col-auto-3">
      <br>
      <br>
    </div>
      {% for item in collab_projects %}
      <div class="card">
        <h5 class="card-header">{{item.title}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.content}}</p>


          <div class="col-auto-3">
            <nobr>
              <div class="btn-group" style="width:100%">
              <form action="{{url_for('project_detail_view')}}" method="POST">

                <input type="hidden" value={{item.id}} name="projectId"/>
                <input type="submit"  name ="submit_button" value="View" class="btn btn-outline-success  btn-sm"/>
              </form>
              </div>
            </nobr>
          </div>     <br>
          <span class="badge badge-dark">Looking For:</span>
          {% if item.business == True%}
          <span class="badge badge-primary">Business</span>
          {% endif %}
          {% if item.literature == True%}
          <span class="badge badge-info">Literature</span>
          {% endif %}
          {% if item.technology == True%}
          <span class="badge badge-success">Technology</span>
          {% endif %}
          {% if item.art == True%}
          <span class="badge badge-warning">Art</span>
          {% endif %}
          {% if item.music == True%}
          <span class="badge badge-danger">Music</span>
          {% endif %}
        </div>
      </div>
      <br>
      <br>
      {% endfor %}
  </div>

</div>
{% endblock content %}
