{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <input type="hidden" name="email" value={{current_user.email}}/>
      <fieldset class="form-group">

        <!-- Title -->
        <legend class="border-bottom mb-4"><b>Update Profile</b></legend>

        <!-- Profile Picture -->
        <div class="form-group">
          <img class="rounded-circle account-img mt-3" src="{{ image_file }}">
          <br>
          {{ form.picture.label(class="form-control-label") }}
          {{ form.picture(type="file", class="form-control-file") }}

          {% if form.picture.errors %}
            {% for error in form.picture.errors %}
              <span class="text-danger">{{ error }}</span><br>
            {% endfor %}
          {% endif %}
        </div>

        <!-- Username -->
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.username(class="form-control form-control-lg",placeholder=current_user.username) }}
          {% endif %}
        </div>

        <!-- Email -->
        <div class="form-group">
          {{ form.new_email.label(class="form-control-label") }}
          {% if form.new_email.errors %}
            {{ form.new_email(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.new_email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.new_email(class="form-control form-control-lg",placeholder=current_user.email) }}
          {% endif %}
        </div>

        <!-- Description -->
        <div class="form-group">
          {{ form.description.label(class="form-control-label") }}
          {% if form.description.errors %}
            {{ form.description(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.description.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
          {% else %}
            {{ form.description(class="form-control form-control-lg",placeholder=current_user.description) }}
          {% endif %}
        </div>

        <!-- Skills -->
        <label class="form-control-label">Skills</label>
        <br>
        <div class="form-check">
          {% if current_user.business %}
            {{ form.skills_bus(checked=True,class="form-check-input") }}
          {% else %}
            {{ form.skills_bus(checked=False,class="form-check-input") }}
          {% endif %}
          {{ form.skills_bus.label(class="form-check-label") }}
          <br>
          {% if current_user.literature %}
            {{ form.skills_lit(checked=True,class="form-check-input") }}
          {% else %}
            {{ form.skills_lit(checked=False,class="form-check-input") }}
          {% endif %}
          {{ form.skills_lit.label(class="form-check-label") }}
          <br>
          {% if current_user.technology %}
            {{ form.skills_tech(checked=True,class="form-check-input") }}
          {% else %}
            {{ form.skills_tech(checked=False,class="form-check-input") }}
          {% endif %}
          {{ form.skills_tech.label(class="form-check-label") }}
          <br>
          {% if current_user.art %}
            {{ form.skills_art(checked=True,class="form-check-input") }}
          {% else %}
            {{ form.skills_art(checked=False,class="form-check-input") }}
          {% endif %}
          {{ form.skills_art.label(class="form-check-label") }}
          <br>
          {% if current_user.music %}
            {{ form.skills_music(checked=True,class="form-check-input") }}
          {% else %}
            {{ form.skills_music(checked=False,class="form-check-input") }}
          {% endif %}
          {{ form.skills_music.label(class="form-check-label") }}
          <br>
        </div>

        <!-- Passwords -->
        <br><hr><br>
        <div class="form-group">
              {{ form.new_password.label(class="form-control-label") }}
              {% if form.new_password.errors %}
                  {{ form.new_password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.new_password.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.new_password(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.confirm_new_password.label(class="form-control-label") }}
              {% if form.confirm_new_password.errors %}
                  {{ form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.confirm_new_password.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
              {% else %}
                  {{ form.confirm_new_password(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.old_password.label(class="form-control-label") }}
              {{ form.old_password(class="form-control form-control-lg") }}
          </div>
      </fieldset>

      <!-- Submit -->
      <div class="form-group">
          {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
{% endblock content %}
